//============Bara de navigatie stanga
.side_nav {
  @include distant_shadow;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $brand-blue;
  overflow-x: scroll;
  -webkit-transition: .5s;
  transition: .5s;
  padding-top: 60px;
  
    //close button
    & span.icon_close {
      color: $gray;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      margin-left: 50px;
      
      &:hover,
      &:focus {
        color: lighten($gray, 5%);
      }
    }
  
    // the links inside the nav element / Left 
    & a {
      font-weight: 600;
      letter-spacing: 1px;
      text-align: left;
      padding: 25px;
      text-decoration: none;
      font-size: 1.3rem;
      color: $gray;
      display: block;
      -webkit-transition: .3s;
      transition: .3s;

        //hover/focus state
        &:hover,
        &:focus,
        &.active {
          color: white;
          background: lighten($brand-blue, 5%);
        }
    }
}

div.inside {
  background: lighten($brand-blue, 10%);
  max-height: 0; //aceste
  overflow: hidden; // doua linii, sunt motivul pentru care nu se vede continutul
  transition: max-height 0.2s ease-out;
  & a {
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem;
    transition: transform .2s ease-in-out,
                box-shadow .2s ease-in-out;
    
    &:hover,
    &:focus {
      transform: scale(1.03);
      -webkit-box-shadow: inset 10px 0px 0px 0px lighten($brand-one, 10%);
      -moz-box-shadow: inset 10px 0px 0px 0px lighten($brand-one, 10%);
      box-shadow: inset 10px 0px 0px 0px lighten($brand-one, 10%);
    }
  }
}

// sageata jos
.sublinks::after {
  font-family: "ElegantIcons";
  content: "\33";
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}


//============Bara de navigatie dreapta

.account-nav {
  @include distant_shadow;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: $brand-blue;
  overflow-x: scroll;
  -webkit-transition: .5s;
  transition: .5s;
  padding-top: 60px;
  
  //close button
    & span.icon_close {
      color: $gray;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 2rem;
      margin-right: 50px;
      
      &:hover,
      &:focus {
        color: lighten($gray, 5%);
      }
  }
  
  // the links inside the nav element / Right
    & a {
      letter-spacing: 1px;
      text-align: center;
      padding: 25px;
      text-decoration: none;
      font-size: 1.3rem;
      color: $gray;
      display: block;
      -webkit-transition: .3s;
      transition: .3s;

        //hover/focus state
        &:hover,
        &:focus {
          color: white;
          background: lighten($brand-blue, 5%);
        }
    }
}

//============Butoane Dreapta

.button-grp {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  
  & .shop {
    background: lighten($succes, 5%);
    &:hover,
    &:focus {
      background: lighten($succes, 8%);
    }
  }
  
  & .favorites {
    background: $danger;
    &:hover,
    &:focus {
      background: lighten($danger, 3%);
    }
  }
  
  button[type="button"] {
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.5rem;
    height: 4rem;
    width: 50%;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }
}

























