// colors

// HSL
$succes             :       hsla(156%, 100%, 29%, 1);
$danger             :       hsla(16%, 100%, 42%, 1);
$brand-blue         :       hsla(209%, 62%, 40%, 1);
$brand-one          :       hsla(205%, 100%, 19%, 1);
$brand-two          :       hsla(23%, 77%, 54%, 1);
$typo               :       hsla(218%, 17%, 62%, 1);
$gray               :       hsla(197%, 24%, 94%, 1);

// RGB
$succes             :       rgba(0, 150, 91, 1);
$danger             :       rgba(214, 57, 0, 1);
$brand-blue         :       rgba(39, 105, 167, 1);
$brand-one          :       rgba(0, 56, 97, 1);
$brand-two          :       rgba(228, 114, 45, 1);
$typo               :       rgba(141, 153, 174, 1);
$gray               :       rgba(237, 242, 244, 1);