@import "components/index";

html {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  &::before,
  &::after {
    font-family: inherit;
    font-size: inherit;
  }
}

body {
  background: $gray;
  &::before,
  &::after {
    background: inherit;
  }
}










